

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255, 144, 144, 0.5);
    border-radius: 50%;
    position: fixed;
    /* transition-duration: 200ms; */
    transition-timing-function: ease-out;
    /* animation: cursorAnim .5s infinite alternate; */
    pointer-events: none;
    background:rgba(212, 124, 124, 0.377);
}
